<form action="/" method="POST" enctype="multipart/form-data">
    <h3>Subir foto de perfil</h3>
    <input type="file" name="sampleFile" />
    <input type="submit" class="btn btn-primary" />
</form>

<div class="card">
    <img class="card__image" src="/img/default.jpg" alt="Perfil de usuario" />
    <h1 class="card__title">Yo</h1>
    <div class="card__job">Web Developer</div>
    <p class="card__about">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit at
        explicabo sint voluptas dolores eum quas similique ea laborum sunt,
        fugiat mollitia dicta, voluptatibus autem accusantium modi veniam
        deserunt! Rerum?
    </p>
    <button type="button" class="btn btn-primary">Ver perfil</button>
</div>